@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&display=swap&subset=cyrillic");
body, html {
  padding: 0;
  margin: 0;
  position: relative;
  overflow-x: hidden;
}

.leftpanel {
  position: fixed;
  width: 175px;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font: 600 18px 'Open Sans Condensed', sans-serif;
  border-right: 1px solid darkgrey;
  background-color: floralwhite;
}

.leftpanel a {
  color: inherit;
  text-decoration: none;
}

.leftpanel a p {
  padding: 15px 5px;
  text-align: center;
}

.leftpanel a p:hover {
  background-color: black;
  color: #ececec;
  font-weight: 700;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main {
  width: 90vw;
  margin-left: 175px;
  font-family: 'Source Sans Pro', sans-serif;
}

main .intro {
  height: 100vh;
  background: #010101;
  background: -webkit-gradient(linear, right top, left top, from(#010101), to(#636363));
  background: linear-gradient(270deg, #010101 0%, #636363 100%);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  padding-right: 120px;
}

main .intro .title {
  font-size: 48px;
  font-weight: bolder;
  text-transform: uppercase;
}

main .intro .subtitle {
  font-size: 36px;
}

main hr {
  width: 90%;
  float: right;
}

main h1 {
  text-align: center;
}

main .part2 .cardholder {
  margin-top: 30px;
  height: auto;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .part2 .cardholder .card {
  float: left;
  width: 25vw;
  min-width: 300px;
  height: 65vh;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
}

main .part2 .cardholder .card .card__name {
  color: black;
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2.5px solid black;
}

main .part2 .cardholder .card .card__name span {
  text-align: left;
  margin-left: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

main .part2 .cardholder .card .card__pic {
  height: 50%;
  width: 100%;
}

main .part2 .cardholder .card .card__pic img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

main .part2 .cardholder .card .card__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  height: auto;
}

main .part2 .cardholder .card .card__description:hover {
  background-color: #8f8f8f;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main .part3 {
  text-align: center;
  font-size: 24px;
}

.link-cont {
  position: relative;
  font-size: 24px;
}

.link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  padding: 10px 0;
  color: #fff;
}

.button-link-wrapper {
  position: relative;
  display: block;
  padding: 20px 0;
}

.inner-wrapper {
  position: relative;
  display: inline-block;
}

.wrapper-action:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background-color: white;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.wrapper-action:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
  background-color: white;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transition: -webkit-transform 0.2s 0.2s;
  transition: -webkit-transform 0.2s 0.2s;
  transition: transform 0.2s 0.2s;
  transition: transform 0.2s 0.2s, -webkit-transform 0.2s 0.2s;
}

.wrapper-action .hover-17 {
  padding: 10px;
  width: 200px;
  font: 600 20px 'Open Sans Condensed', sans-serif;
  color: #383838;
}

.wrapper-action .hover-17:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: white;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transition: -webkit-transform 0.2s 0.3s;
  transition: -webkit-transform 0.2s 0.3s;
  transition: transform 0.2s 0.3s;
  transition: transform 0.2s 0.3s, -webkit-transform 0.2s 0.3s;
}

.wrapper-action .hover-17:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background-color: white;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.2s 0.1s;
  transition: -webkit-transform 0.2s 0.1s;
  transition: transform 0.2s 0.1s;
  transition: transform 0.2s 0.1s, -webkit-transform 0.2s 0.1s;
}

.wrapper-action .hover-17:hover {
  color: white;
}

.wrapper-action:hover:before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition: -webkit-transform 0.2s 0.3s;
  transition: -webkit-transform 0.2s 0.3s;
  transition: transform 0.2s 0.3s;
  transition: transform 0.2s 0.3s, -webkit-transform 0.2s 0.3s;
}

.wrapper-action:hover:after {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition: -webkit-transform 0.2s 0.1s;
  transition: -webkit-transform 0.2s 0.1s;
  transition: transform 0.2s 0.1s;
  transition: transform 0.2s 0.1s, -webkit-transform 0.2s 0.1s;
}

.wrapper-action:hover .hover-17:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.wrapper-action:hover .hover-17:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: -webkit-transform 0.2s 0.2s;
  transition: -webkit-transform 0.2s 0.2s;
  transition: transform 0.2s 0.2s;
  transition: transform 0.2s 0.2s, -webkit-transform 0.2s 0.2s;
}
/*# sourceMappingURL=index.css.map */